@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(67, 67, 221);
    border-radius: 15px;
  }
}
